<mat-card class="user-detail-header">
  <button
    class="pin-right-upper-corner"
    mat-icon-button
    [matMenuTriggerFor]="userMenu"
    (click)="openAddressDialog()"
  >
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #userMenu="matMenu">
    <button mat-menu-item (click)="editUserDetail()">Edit</button>
  </mat-menu>

  <img src="./assets/img/profile_icon.png" alt="" />
  <div class="user-details">
    <h2>{{ user.firstName }} {{ user.lastName }}</h2>
    <p>{{ user.email }}</p>
  </div>
</mat-card>

<mat-card>
  <button
    class="pin-right-upper-corner"
    mat-icon-button
    [matMenuTriggerFor]="addressMenu"
    (click)="openAddressDialog()"
  >
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #addressMenu="matMenu">
    <button mat-menu-item (click)="editAddress()">Edit</button>
  </mat-menu>

  <mat-card-header>
    <mat-card-title>{{ user.street }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>{{ user.zipCode }}</mat-card-content>
</mat-card>
